{% extends "pmiot/layout.html" %}
{% block title %}
measurement details
{% endblock %}
{% block content %}
  <section class="details">
    <div class="_container">
      <div class="details__wrapper">
        <h1 class="details__title">
          {{details.measurementName}}
        </h1>

        <div class="details__image">
          <img src="{{details.image.url}}" alt="{{details.measurementName}}">
        </div>

        <ul class="details-list">
          <li class="details__item">
            <div class="details__column">
              Parameter
            </div>

            <div class="details__column">
              Value
            </div>
          </li>

          <li class="details__item">
            <div class="details__column">
              Type
            </div>

            <div class="details__column">
              {{details.measurementType}}
            </div>
          </li>

          <li class="details__item">
            <div class="details__column">
              Value
            </div>

            <div class="details__column">
              {% if details.isWorking == True %}
                {{details.value}}
              {% elif details.isWorking == False %}
                -
              {% endif  %}
            </div>
          </li>

          <li class="details__item">
            <div class="details__column">
              Is working
            </div>

            <div class="details__column">
              <!-- <label for="submit" class="button-turn" data-state="true"> -->
              <label for="submit" class="button-turn" data-state="{{details.isWorking}}">
                <!-- {{details.isWorking}} -->
                <span class="button-turn__label"></span>
              </label>
              <!-- </label> -->
              
              <form method="POST" action="{% url 'change_value' details.measurement_id %}" class="details-form__form change-value">
                {% csrf_token %}
                <!-- {{ form.as_p }} -->
                {% if details.isWorking == True %}
                  <input id="enter_value" type="text" name="enter_value" value="{{details.isWorking}}">
                {% elif details.isWorking == False %}
                  <input id="enter_value" type="text" name="enter_value" value="">
                {% endif %}
                <input id="submit" type="submit" name="submit">
              </form> 
            </div>
          </li>

          <li class="details__item">
            <div class="details__column">
              Description
            </div>

            <div class="details__column">
              {{details.description}}
            </div>
          </li>
        </ul>
      
        <div class="details-form">
          <!-- <p class="details-form__title">
            Change value
          </p> -->

          {% if messages %}
            {% for message in messages %}
              <div class="alert">
                  {{ message }}
              </div>
            {% endfor %}
          {% endif %}

           
        </div>
      </div>
    </div>
  </section>
{% if msg %}
   <script>
     alert('{{ msg }}');
   </script>
{% endif %}
{% endblock %}